.card{
   transition: all 0.3s;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.15);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

body{
   
        background-color: rgb(184, 201, 203);
       
}